*, *:before, *:after{
  box-sizing: inherit;
}

html, body {
    max-width: 1800px;
    margin: 0 auto;
    padding: 32px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
    font-size: small;
  }
  canvas {
    display: block;
  }
  .w3-blue {
    color: #fff;
    background-color: #2196F3;
    border: 0px;
    padding: .5em;
  }
  .w3-ripple {
    transition: opacity 0s;
  }
  .w3-hover-blue:hover{
    color: #fff;
    background-color: rgb(3, 183, 3);
  }
  .w3-btn, .w3-button, .w3-hover-blue {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
  }
  .w3-btn:link, .w3-btn:visited{
    color: #fff;
    background-color: #14b908;
    border: 0px;
    padding: .5em;
  }
