*, *:before, *:after{
  box-sizing: inherit;
}

html, body {
    margin: 1em;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #eee;
  }
  canvas {
    display: block;
  }
  button {

  }
  .w3-blue {
    color: #fff;
    background-color: #2196F3;
    border: 0px;
    padding: .5em;
  }
  .w3-ripple {
    transition: opacity 0s;
  }
  .w3-hover-blue:hover{
    color: #fff;
    background-color: #1d5482;
    border: 0px;
    padding: .5em;
  }
  .w3-btn, .w3-button, .w3-hover-blue {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
  }
  .w3-btn:link, .w3-btn:visited{
    color: #fff;
    background-color: #14b908;
    border: 0px;
    padding: .5em;
  }